<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY CORE APP</title>
</head>
<body>
    <h1 style="text-align: center;color: blue;"> Welcome to the core app</h1>
    <h2> Login to access my app...</h2>
    <button class=" mx-2 btn btn-sm text-white btn-primary ">
        <a class="text-white" href="{% url 'signup' %}">Sin Up</a>

    </button>
    <button class=" mx-2 btn btn-sm text-white btn-warning ">
        <a class="text-white" href="">login</a>

    </button>
</body>
</html>