<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="signup-form" method="post" action="{% url 'reset_password' id %}">
    {% csrf_token %}
    <h2>Reset_Password</h2>

     
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>

    
    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" id="password" name="confirm_password" required>
    </div>

    <button type="submit" class="submit-btn">Reset</button>
  </form>

   
</body>
</html>